// colocacion de todos los imports, primero utilities luego layout

@import "./utilities/extends";
@import "./layout/header";


// etiquetas genericas

*{
    font-family: "Roboto Slab", serif;
}

.oscurecer-fondo {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
    to right,
    rgba(0,0,0,0.75),
    rgba(0,0,0,0.45),
    rgba(0,0,0,0.15),
    rgba(0,0,0,0)
);



}
